@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.App {
    overflow: hidden;
}

.container {
    width: 1200px;
    max-width: calc(100% - 32px);
    margin: 0 auto;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-gap-20px-20px {
    grid-gap: 20px;
}

.disabled-link {
    pointer-events: none;
    opacity: 0.5;
}

.margin-top {
    margin-top: 80px;
}

.button {
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
}

.scrollToTop {
    background-color: #e74c3c;
    right: 20px;
    position: fixed;
    bottom: 50px;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button__load-more {
    padding: 8px;
    border-radius: 5px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes skeleton {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
